# GENERATED BY api/worker/openapi.py — DO NOT EDIT BY HAND.
# Regenerate with `python api/worker/openapi.py`; CI runs `--check`.
# The schemas below are inferred from responses produced by the Worker's
# own code, so this file cannot describe an endpoint that does not exist.
openapi: 3.0.3
info:
  title: ModelSpec rank API
  version: '1.0'
  summary: Ranks AI models you can actually run, given your hardware, providers, use case and policy rules.
  description: 'Use when choosing, switching, or checking a model before a task or deploy. Returns ranked
    models with scores, cost and reasons; on failure, returns which constraint eliminated every option.


    One call, no state, no key today. The answer is computed per request from the current public export;
    `build.commit` on every response names the catalogue it was computed from. A request carries a profile
    — use case, environment, constraints — never a prompt.


    Send a real `User-Agent`. The host is behind Cloudflare, and the standard-library default (`Python-urllib/*`)
    is refused at the edge with a 403 and a non-JSON body that never reaches this service.


    Reference: docs/api.md. Generated from the implementation by api/worker/openapi.py.'
  license:
    name: MIT
    url: https://github.com/turbobeest/modelspec
  x-error-codes:
  - export_unavailable
  - insufficient_evidence
  - invalid_request
  - method_not_allowed
  - no_match
  - not_found
  - payload_too_large
  - unknown_hardware
  - unknown_hosting
  - unknown_runtime
  - unknown_use_case
  x-transport-error-statuses:
    export_unavailable: 502
    method_not_allowed: 405
    not_found: 404
    payload_too_large: 413
  x-max-request-bytes: 16384
x-modelspec-not-yet-live:
  status: implemented but NOT wired into the deployed Worker
  ticket: MODEL-69
  effect_today: /v1/rank takes no key, meters nothing and never returns 401, 403 or 429. Do not build
    a client that depends on those statuses yet; do build one that tolerates them.
  when_wired:
    present_key_as:
    - 'Authorization: Bearer <key>'
    - 'X-API-Key: <key>'
    never: a key in the query string
    policy_version: access-v1
    sandbox_prefix: test_
    timezone: UTC
    tiers:
      dpf:
        daily_limit: null
        burst_limit_per_minute: null
        live_data: true
        description: 'Unlimited, and deliberately on the same handler as a paid key: null limits, not
          a bypass.'
      free:
        daily_limit: 10
        burst_limit_per_minute: 5
        live_data: true
        description: Live rankings. Enough for a genuine decision, not for a build loop.
      paid:
        daily_limit: 1000
        burst_limit_per_minute: 60
        live_data: true
        description: Placeholder for the by-plan rows MODEL-73 provisions. Limits are a starting point,
          not a commitment.
      sandbox:
        daily_limit: null
        burst_limit_per_minute: null
        live_data: false
        description: Fixed, obviously synthetic results. Unlimited, no signup, no live data.
    documented_in: docs/api-access.md
servers:
- url: https://api.modelspec.dev
  description: production
paths:
  /v1/health:
    get:
      operationId: health
      summary: The deployed version, and whether it can read the export.
      responses:
        '200':
          description: Serving.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
        '502':
          description: The published export could not be read. `last_error` says why.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
        '404':
          description: No endpoint at that path. `error.accepted` names the versioned paths.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
  /v1/rank:
    post:
      operationId: rank
      summary: Rank the catalogue for one profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RankRequest'
            example:
              use_case: coding
              environment:
                hosting: managed_api
              constraints:
                price_sensitivity: 0.25
              limit: 3
      responses:
        '200':
          description: A shortlist. `result` is never empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RankResponse'
        '400':
          description: Refused. `error.accepted` lists the values this field takes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestRefused'
        '404':
          description: No endpoint at that path. `error.accepted` names the versioned paths.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
        '405':
          description: /v1/rank takes POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
        '413':
          description: The body is over 16384 bytes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
        '422':
          description: No model survives the request. `error.relax` names what to change. Never a 200
            with an empty list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoMatch'
        '502':
          description: The published export could not be read. Retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
components:
  schemas:
    RankRequest:
      type: object
      additionalProperties: false
      required:
      - use_case
      properties:
        use_case:
          description: Which profile scores the candidates. Required.
          type: string
          enum:
          - accounting
          - agentic
          - biotech
          - chat
          - code_review
          - coding
          - coding_cpp
          - coding_go
          - coding_java
          - coding_javascript
          - coding_python
          - coding_rust
          - coding_typescript
          - content_moderation
          - customer_support
          - cybersecurity
          - data_science
          - devops
          - education
          - education_humanities
          - education_stem
          - embedding
          - financial
          - financial_analysis
          - financial_compliance
          - general
          - image_generation
          - legal
          - legal_contract_review
          - math_competition
          - medical
          - medical_clinical
          - medical_radiology
          - multilingual
          - rag
          - reasoning
          - research_assistant
          - roleplay
          - safety
          - science
          - science_astronomy
          - science_biology
          - science_chemistry
          - science_physics
          - speech_to_text
          - summarization
          - text_to_speech
          - translation
          - vision
          - writing_creative
          - writing_technical
        environment:
          type: object
          additionalProperties: false
          properties:
            hardware:
              description: A device id from https://modelspec.dev/api/rank/hardware.json. Keeps only models
                whose weights fit that device. An id not in that file is a 400, never 'nothing fits'.
              type: string
              nullable: true
            hosting:
              description: Where the model runs.
              type: string
              nullable: true
              enum:
              - local
              - managed_api
              - self_hosted
              - null
              x-meaning:
                local: on the caller's own machine; requires downloadable weights
                managed_api: a provider or gateway API; no weights requirement
                self_hosted: on infrastructure the caller runs; requires downloadable weights
            runtime:
              description: The serving stack. A local runtime implies downloadable weights; every other
                value is recorded and reported in applied.unbound, because the export carries no runtime-level
                evidence to filter on.
              type: string
              nullable: true
              enum:
              - ai21_labs
              - anthropic
              - aws_bedrock
              - azure_ai_foundry
              - cerebras
              - chatgpt
              - claude_ai
              - cohere
              - deepinfra
              - deepseek
              - fireworks_ai
              - gemini_app
              - google
              - google_vertex_ai
              - gpt4all
              - grok_xai
              - groq
              - ibm_watsonx
              - jan_ai
              - lm_studio
              - meta_ai
              - mistral
              - mistral_plateforme
              - mlx_community
              - nvidia_nim
              - ollama
              - open_webui
              - openai
              - openrouter
              - replicate
              - sambanova
              - snowflake_cortex
              - together_ai
              - xai
              - null
              x-implies-open-weights:
              - gpt4all
              - jan_ai
              - lm_studio
              - mlx_community
              - ollama
              - open_webui
        constraints:
          type: object
          additionalProperties: false
          properties:
            open_weights:
              description: Keep only models whose weights can be downloaded.
              type: boolean
              nullable: true
            max_cost_per_million_input_tokens:
              description: USD ceiling on input cost. Applied before scoring. A model with no published
                price is dropped by this filter rather than assumed cheap.
              type: number
              minimum: 0
              nullable: true
            price_sensitivity:
              description: 0–1. How much cost weighs against quality. Every shipped profile weights cost
                at 0, so this is the only way to make price matter.
              type: number
              minimum: 0
              maximum: 1
              default: 0.0
            include_rehosts:
              description: Include models that are rehosts of another provider's weights.
              type: boolean
              default: false
        limit:
          description: Caps the ranked shortlist only, not the pool.
          type: integer
          minimum: 0
          maximum: 100
          default: 10
    RankResponse:
      type: object
      properties:
        applied:
          description: What actually bound. Read applied.unbound before trusting a filter.
          type: object
          properties:
            cost_weight:
              type: number
            hardware_id:
              type: string
              nullable: true
            include_rehosts:
              type: boolean
            max_cost_per_million_input_tokens:
              type: number
              nullable: true
            open_weights_only:
              type: boolean
            open_weights_required_by:
              type: string
              nullable: true
            unbound:
              description: Fields that were accepted, recorded, and filtered nothing, each with the reason.
                An empty list means every field you sent bound.
              type: array
              items:
                type: object
                required:
                - field
                - value
                - why
                properties:
                  field:
                    type: string
                  value:
                    type: string
                  why:
                    type: string
          required:
          - cost_weight
          - hardware_id
          - include_rehosts
          - max_cost_per_million_input_tokens
          - open_weights_only
          - open_weights_required_by
          - unbound
        build:
          description: The published export this answer was computed from.
          type: object
          properties:
            built_at:
              type: string
            commit:
              type: string
            eligibility_as_of:
              type: string
            export_schema_version:
              type: string
          required:
          - built_at
          - commit
          - eligibility_as_of
          - export_schema_version
        candidates_considered:
          type: integer
        endpoint:
          type: string
        export_origin:
          type: string
        policy:
          description: The evidence floors this answer was ordered under.
          type: object
          properties:
            cli_min_benchmark_coverage:
              type: number
            limit_applies_to:
              type: string
            min_benchmark_count:
              type: integer
            min_benchmark_coverage:
              type: number
            ordering:
              type: string
            uncertainty:
              type: string
            version:
              type: string
            wizard_min_benchmark_coverage:
              type: number
          required:
          - cli_min_benchmark_coverage
          - limit_applies_to
          - min_benchmark_count
          - min_benchmark_coverage
          - ordering
          - uncertainty
          - version
          - wizard_min_benchmark_coverage
        profile:
          type: string
        ranked_count:
          type: integer
        ranking_status:
          description: Whether every candidate could be ordered. `partial` is the normal state of the
            catalogue, not a degraded answer.
          type: string
          enum:
          - complete
          - empty
          - partial
          - unavailable
        request:
          description: The request as received and normalised.
          type: object
          properties:
            constraints:
              type: object
              properties:
                include_rehosts:
                  type: boolean
                max_cost_per_million_input_tokens:
                  type: number
                  nullable: true
                open_weights:
                  type: boolean
                price_sensitivity:
                  type: number
              required:
              - include_rehosts
              - max_cost_per_million_input_tokens
              - open_weights
              - price_sensitivity
            environment:
              type: object
              properties:
                hardware:
                  type: string
                  nullable: true
                hosting:
                  type: string
                runtime:
                  type: string
                  nullable: true
              required:
              - hardware
              - hosting
              - runtime
            limit:
              type: integer
            use_case:
              type: string
          required:
          - constraints
          - environment
          - limit
          - use_case
        result:
          description: The shortlist, best first. Never empty on a 200.
          type: array
          items:
            type: object
            properties:
              benchmark_contributions:
                type: object
                properties:
                  aider_polyglot:
                    type: number
                  arena_elo_coding:
                    type: number
                  arena_elo_overall:
                    type: number
                  humaneval:
                    type: number
                  live_code_bench:
                    type: number
                  scicode:
                    type: number
                  swe_bench_verified:
                    type: number
                  terminal_bench:
                    type: number
                required:
                - aider_polyglot
                - arena_elo_coding
                - arena_elo_overall
                - humaneval
                - live_code_bench
                - swe_bench_verified
              benchmark_count:
                type: integer
              benchmark_coverage:
                description: Share of the profile's weighted benchmarks this model has a score for.
                type: number
              benchmark_estimate:
                type: number
              benchmark_lower_bound:
                type: number
              benchmark_score:
                type: number
              benchmark_upper_bound:
                type: number
              capability_score:
                type: number
              context_score:
                type: number
              context_window:
                type: integer
              cost_input:
                description: USD per million input tokens, or null when unpublished.
                type: number
              cost_score:
                type: number
              display_name:
                type: string
              evidence_basis:
                description: Provenance of the benchmark inputs — none, unverified-legacy, mixed, partial-verified
                  or verified. Not a quality verdict, and 'verified' is not a certificate.
                type: string
                enum:
                - mixed
                - none
                - partial-verified
                - unverified-legacy
                - verified
              missing_benchmarks:
                description: Benchmarks the profile weighs that this model lacks.
                type: array
                items:
                  type: string
              model_id:
                type: string
              open_weights:
                type: boolean
              provider:
                type: string
              rank:
                type: integer
              rank_status:
                type: string
                enum:
                - ranked
                - unranked
              required_benchmark_count:
                type: integer
              score:
                description: Composite, 0–100, on the conservative lower bound.
                type: number
              score_kind:
                type: string
              score_lower_bound:
                type: number
              score_upper_bound:
                type: number
              scores_as_of:
                type: string
              type_bonus:
                type: number
              unranked_reason:
                nullable: true
              verified_benchmark_coverage:
                type: number
              verified_contributions:
                type: integer
            required:
            - benchmark_contributions
            - benchmark_count
            - benchmark_coverage
            - benchmark_estimate
            - benchmark_lower_bound
            - benchmark_score
            - benchmark_upper_bound
            - capability_score
            - context_score
            - context_window
            - cost_input
            - cost_score
            - display_name
            - evidence_basis
            - missing_benchmarks
            - model_id
            - open_weights
            - provider
            - rank
            - rank_status
            - required_benchmark_count
            - score
            - score_kind
            - score_lower_bound
            - score_upper_bound
            - scores_as_of
            - type_bonus
            - unranked_reason
            - verified_benchmark_coverage
            - verified_contributions
        schema_version:
          type: string
        service_commit:
          description: The sha of the deployed Worker. Fixed per deployment.
          type: string
        unranked_count:
          type: integer
      required:
      - applied
      - build
      - candidates_considered
      - endpoint
      - export_origin
      - policy
      - profile
      - ranked_count
      - ranking_status
      - request
      - result
      - schema_version
      - service_commit
      - unranked_count
    Health:
      type: object
      required:
      - build
      - endpoint
      - export_loaded
      - export_origin
      - last_error
      - model_count
      - schema_version
      - service_commit
      properties:
        build:
          type: object
          required:
          - built_at
          - commit
          - export_schema_version
          properties:
            built_at:
              type: string
            commit:
              type: string
            export_schema_version:
              type: string
        endpoint:
          type: string
        export_loaded:
          type: boolean
        export_origin:
          type: string
        last_error:
          nullable: true
        model_count:
          type: integer
        schema_version:
          type: string
        service_commit:
          type: string
    NoMatch:
      type: object
      required:
      - schema_version
      - error
      - result
      properties:
        schema_version:
          type: string
        service_commit:
          type: string
        error:
          type: object
          properties:
            candidates_considered:
              type: integer
            code:
              type: string
              enum:
              - insufficient_evidence
              - no_match
            eliminated_by:
              description: The first filter whose survivor count reached zero.
              type: object
              properties:
                constraint:
                  type: string
                survivors_after:
                  type: integer
                survivors_before:
                  type: integer
                value:
                  type: number
              required:
              - constraint
              - survivors_after
              - survivors_before
              - value
            elimination_trace:
              description: Every filter, in the order the scorer applies them.
              type: array
              items:
                type: object
                properties:
                  constraint:
                    type: string
                  survivors_after:
                    type: integer
                  survivors_before:
                    type: integer
                  value:
                    type: string
                required:
                - constraint
                - survivors_after
                - survivors_before
                - value
            message:
              type: string
            ranking_status:
              type: string
              enum:
              - complete
              - empty
              - partial
              - unavailable
            relax:
              description: The field to change. Acting on this is the whole point of the 422.
              type: string
          required:
          - candidates_considered
          - code
          - eliminated_by
          - elimination_trace
          - message
          - ranking_status
          - relax
        result:
          type: array
          items: {}
          maxItems: 0
    RequestRefused:
      type: object
      required:
      - schema_version
      - error
      - result
      properties:
        schema_version:
          type: string
        service_commit:
          type: string
        error:
          type: object
          properties:
            accepted:
              description: The values this field does accept.
              type: array
              items:
                type: string
            code:
              type: string
              enum:
              - invalid_request
              - unknown_hardware
              - unknown_hosting
              - unknown_runtime
              - unknown_use_case
            fields:
              type: array
              items:
                type: string
            message:
              type: string
          required:
          - accepted
          - code
          - message
        result:
          type: array
          items: {}
          maxItems: 0
    TransportError:
      type: object
      required:
      - schema_version
      - error
      - result
      properties:
        schema_version:
          type: string
        service_commit:
          type: string
        error:
          type: object
          required:
          - code
          - message
          properties:
            code:
              type: string
              enum:
              - export_unavailable
              - method_not_allowed
              - not_found
              - payload_too_large
            message:
              type: string
            accepted:
              type: array
              items:
                type: string
        result:
          type: array
          items: {}
          maxItems: 0
