# GENERATED BY api/worker/openapi.py — DO NOT EDIT BY HAND.
# Regenerate with `python api/worker/openapi.py`; CI runs `--check`.
# The schemas below are inferred from responses produced by the Worker's
# own code, so this file cannot describe an endpoint that does not exist.
openapi: 3.0.3
info:
  title: ModelSpec API
  version: '1.0'
  summary: Ranks AI models you can actually run, given your hardware, providers, use case and policy rules,
    and checks them against a compliance policy.
  description: 'Use when choosing, switching, or checking a model before a task or deploy. POST /v1/rank
    returns ranked models with scores, cost and reasons; on failure, it returns which constraint eliminated
    every option. POST /v1/policy-check returns, per model and per platform, pass, fail or undetermined
    against a licence, origin, residency and commercial-use policy, citing the document behind each verdict.


    One call, and no state on your side. Each answer is computed per request from the current public export;
    `build.commit` on every response names the catalogue it was computed from. A request carries a profile
    or a policy — never a prompt.


    A key is optional today (see x-modelspec-access): without one you get the free tier, unmetered; a
    key you present is checked, and a bad one is refused rather than ignored. Any key starting `test_`
    is the sandbox: unlimited, synthetic rows from the real scorer, /v1/rank only.


    Without a paid-tier key, policy-check answers from the public export (the free tier). Every check
    it cannot settle is `undetermined` with `why: tier`, and `determinations.undetermined_for_lack_of_entitlement`
    counts them. It is never a pass.


    Send a real `User-Agent`. The host is behind Cloudflare, and the standard-library default (`Python-urllib/*`)
    is refused at the edge with a 403 and a non-JSON body that never reaches this service.


    Reference: docs/api.md and docs/api-policy-check.md. Generated from the implementation by api/worker/openapi.py.'
  license:
    name: MIT
    url: https://github.com/turbobeest/modelspec
  x-error-codes:
  - access_not_configured
  - access_store_not_configured
  - comparison_snapshot_changed
  - comparison_snapshot_unavailable
  - determinations_unavailable
  - export_unavailable
  - insufficient_evidence
  - invalid_api_key
  - invalid_request
  - invalid_spec
  - key_revoked
  - method_not_allowed
  - missing_api_key
  - no_match
  - no_snapshot
  - not_found
  - origin_not_allowed
  - payload_too_large
  - rate_limited
  - sandbox_not_available
  - snapshot_changed
  - snapshot_not_loaded
  - snapshot_refused
  - snapshot_unavailable
  - tier_not_configured
  - undetermined_present
  - unknown_hardware
  - unknown_hosting
  - unknown_model
  - unknown_platform
  - unknown_runtime
  - unknown_use_case
  x-transport-error-statuses:
    export_unavailable: 502
    method_not_allowed: 405
    not_found: 404
    origin_not_allowed: 404
  x-max-request-bytes:
    /v1/rank: 16384
    /v1/decide: 65536
    /v1/compare: 65536
    /v1/policy-check: 262144
    /v1/signals: 4096
x-modelspec-access:
  status: wired; enforcement off
  ticket: MODEL-69
  enforced: false
  switch: ACCESS_ENFORCED in api/worker/wrangler.jsonc
  key_store_bound: true
  effect_today: 'A key is optional. A request without one is answered as the free tier, unmetered, and
    never gets 401, 403 or 429. A request that presents one is checked: a test_ key gets the sandbox,
    a known key is metered and served per its tier, and an unknown or revoked key is refused (401 or 403),
    never served as anonymous. The ACCESS key store is bound. No key has been issued yet (issuance is
    MODEL-73), so a presented live key is unknown; test_ keys work.'
  policy_check_paid_entitlement:
    status: granted to a presented key with remaining credits, or an unlimited paid tier
    granted_by: entry.py::_entitlement
    effect_today: 'anonymous and free-tier answers have determinations.entitlement public_export; checks
      they cannot settle come back undetermined with why: tier and available_in_tier: paid. A funded key
      reads the determinations, or gets HTTP 503 determinations_unavailable when the store cannot be read.
      A key with zero credits gets the free answer plus credits.exhausted. No paid key has been issued
      yet.'
  present_key_as:
  - 'Authorization: Bearer <key>'
  - 'X-API-Key: <key>'
  never: a key in the query string
  policy_version: access-v1
  sandbox_prefix: test_
  sandbox_endpoints:
  - POST /v1/rank
  timezone: UTC
  tiers:
    dpf:
      daily_limit: null
      burst_limit_per_minute: null
      live_data: true
      description: 'Unlimited, and deliberately on the same handler as a paid key: null limits, not a
        bypass.'
    free:
      daily_limit: 10
      burst_limit_per_minute: 5
      live_data: true
      description: Live rankings. Enough for a genuine decision, not for a build loop. No determinations.
    paid:
      daily_limit: null
      burst_limit_per_minute: 60
      live_data: true
      description: 'Funded key: paid answer including determinations. No daily limit; burst is configuration.
        Entitlement follows remaining credits, not this flag alone.'
    sandbox:
      daily_limit: null
      burst_limit_per_minute: null
      live_data: false
      description: Fixed, obviously synthetic results. Unlimited, no signup, no live data.
  refusals:
    access_not_configured: 500
    access_store_not_configured: 503
    invalid_api_key: 401
    key_revoked: 403
    missing_api_key: 401
    rate_limited: 429
    sandbox_not_available: 400
    tier_not_configured: 500
  documented_in: docs/api-access.md
x-modelspec-billing:
  status: wired; flag off
  ticket: MODEL-93
  enabled: false
  switch: BILLING_ENABLED in api/worker/wrangler.jsonc
  unit: credit
  what_is_sold: 'credits on this API key: a monthly allowance that resets each paid invoice (no rollover),
    and/or pack credits that expire 12 months after purchase. A funded key receives the paid answer, including
    cited commercial-use and data-residency determinations. Only successful results draw credits.'
  documented_in: docs/billing.md
x-modelspec-x402:
  wired: true
  enabled: false
  mainnet: false
  network: eip155:84532
  per_credit_atomic: 4000
  keyless_price_rule: 4000 atomic USDC per endpoint credit
  packs:
  - name: 1,250-credit pack
    credits: 1250
    usd: 5
    atomic: 5000000
  - name: 7,500-credit pack
    credits: 7500
    usd: 25
    atomic: 25000000
  - name: 20,000-credit pack
    credits: 20000
    usd: 50
    atomic: 50000000
  - name: 50,000-credit pack
    credits: 50000
    usd: 100
    atomic: 100000000
  facilitator: https://api.cdp.coinbase.com/platform
  docs: docs/x402.md
security:
- {}
- bearer: []
- apiKey: []
servers:
- url: https://api.modelspec.dev
  description: production
paths:
  /v1/credits:
    get:
      operationId: credits
      summary: The credit balance for the presented API key.
      responses:
        '200':
          description: The holder's available and reserved units.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsBalance'
        '401':
          description: 'missing_holder: no API key presented.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsRefused'
        '503':
          description: 'credits_store_not_configured: the credit ledger is not bound.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsRefused'
        '404': &id001
          description: No endpoint at that path. `error.accepted` names the versioned paths.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
        '405':
          description: /v1/credits takes GET.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
  /v1/health:
    get:
      operationId: health
      summary: The deployed version, and whether it can read both exports.
      responses:
        '200':
          description: Serving.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
        '502':
          description: An export could not be read. `last_error` says why.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
        '404': *id001
        '405':
          description: /v1/health takes GET.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
  /v1/rank:
    post:
      operationId: rank
      summary: Rank the catalogue for one profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RankRequest'
            example:
              use_case: coding
              environment:
                hosting: managed_api
              constraints:
                price_sensitivity: 0.25
              limit: 3
      responses:
        '200':
          description: A shortlist. `result` is never empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RankResponse'
        '400':
          description: Refused. `error.accepted` lists the values this field takes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestRefused'
        '404': *id001
        '405':
          description: /v1/rank takes POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
        '413':
          description: The body is over 16384 bytes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
        '422':
          description: No model survives the request. `error.relax` names what to change. Never a 200
            with an empty list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoMatch'
        '502':
          description: The published export could not be read. Retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
        '402':
          description: Payment required (MODEL-75, when X402_ENABLED). `PAYMENT-REQUIRED` header is the
            x402 v2 object; the body names price, payTo, network and how to pay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequired'
        '401':
          description: No key while keys are enforced (missing_api_key), or a key that is not ours (invalid_api_key).
            `error.how_to_get_a_key` says where to get one.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRefused'
        '403':
          description: 'key_revoked: a key we know and will not serve. Retrying will not help.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRefused'
        '429':
          description: 'rate_limited: the key''s daily or per-minute window is spent. States the limit,
            the window and `resets_at`; `Retry-After` is set.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRefused'
        '500':
          description: 'Ours, not the caller''s: the key names a tier the service does not carry (tier_not_configured),
            or the deployment has no tier table (access_not_configured).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRefused'
        '503':
          description: 'access_store_not_configured: a live key was presented and this deployment has
            no key store to check it against. Sandbox keys and anonymous requests are unaffected.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRefused'
  /v1/decide:
    post:
      operationId: decide
      summary: Return a decision from the signed published snapshot.
      parameters:
      - name: X-ModelSpec-Snapshot
        in: header
        required: false
        description: The snapshot the caller's vocabulary.json describes. When the Worker answers from
          another snapshot it returns 409 snapshot_changed before reading the spec (MODEL-159).
        schema:
          type: string
          pattern: ^snap_[A-Za-z0-9:._-]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionSpec'
            example: &id002
              spec_version: 1
              capabilities:
                software_engineering: required
              optimize:
                max: software_engineering
              explain: none
              limit: 3
      responses:
        '200':
          description: A decision pinned to the snapshot that produced it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionResponse'
          headers: &id003
            X-ModelSpec-Snapshot:
              description: The verified snapshot that answered (MODEL-159).
              schema:
                type: string
            X-ModelSpec-Snapshot-Stale:
              description: Present only when the isolate's latest revalidation failed (network, HTTP error,
                or a snapshot that failed verification) and an older verified snapshot answered. The value
                says why.
              schema:
                type: string
        '400':
          description: The body is not a valid decision spec. This includes a refinement weight whose
            evidence_state is not live or thin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionRequestRefused'
        '409':
          description: 'snapshot_not_loaded: the spec pinned a snapshot this isolate has not loaded. snapshot_changed:
            the X-ModelSpec-Snapshot header names another snapshot than the one answering; reload vocabulary.json
            and retry once.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionRequestRefused'
        '404': *id001
        '405':
          description: /v1/decide takes POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
        '413':
          description: The body is over 65536 bytes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionRequestRefused'
        '502':
          description: The published snapshot could not be fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionRequestRefused'
        '402':
          description: Payment required when X402_ENABLED is on. A keyed caller is offered the card packs.
            A keyless caller pays 4,000 atomic USDC per credit, multiplied by this spec's explanation
            weight.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequired'
        '401':
          description: No key while keys are enforced (missing_api_key), or a key that is not ours (invalid_api_key).
            `error.how_to_get_a_key` says where to get one.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRefused'
        '403':
          description: 'key_revoked: a key we know and will not serve. Retrying will not help.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRefused'
        '429':
          description: 'rate_limited: the key''s daily or per-minute window is spent. States the limit,
            the window and `resets_at`; `Retry-After` is set.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRefused'
        '500':
          description: 'Ours, not the caller''s: the key names a tier the service does not carry (tier_not_configured),
            or the deployment has no tier table (access_not_configured).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRefused'
        '503':
          description: The snapshot is not published, it cannot be verified, or a live key cannot reach
            the access store. A no_snapshot response includes Retry-After.
          content:
            application/json:
              schema:
                oneOf:
                - oneOf:
                  - $ref: '#/components/schemas/DecisionSnapshotUnavailable'
                  - $ref: '#/components/schemas/DecisionRequestRefused'
                - $ref: '#/components/schemas/AccessRefused'
          headers:
            Retry-After:
              description: Seconds before retrying a no_snapshot response.
              schema:
                type: integer
                minimum: 1
  /v1/compare:
    post:
      operationId: compareDecisions
      summary: Compare one spec against two signed snapshots.
      parameters:
      - name: X-ModelSpec-Snapshot
        in: header
        required: false
        description: The current snapshot the caller expects.
        schema:
          type: string
          pattern: ^snap_[A-Za-z0-9:._-]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComparisonRequest'
            example:
              compare_to: snap_0123456789abcdef
              spec: *id002
      responses:
        '200':
          description: The model-grained difference between two decisions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComparisonResponse'
          headers: *id003
        '400':
          description: The body lacks a valid spec or compare_to snapshot ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComparisonRequestRefused'
        '409':
          description: The retained snapshot is unavailable or differs from compare_to.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComparisonRequestRefused'
        '404': *id001
        '405':
          description: /v1/compare takes POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
        '413':
          description: The body is over 65536 bytes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComparisonRequestRefused'
        '502':
          description: A published snapshot could not be fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComparisonRequestRefused'
        '402':
          description: Payment required when X402_ENABLED is on.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequired'
        '401':
          description: No key while keys are enforced (missing_api_key), or a key that is not ours (invalid_api_key).
            `error.how_to_get_a_key` says where to get one.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRefused'
        '403':
          description: 'key_revoked: a key we know and will not serve. Retrying will not help.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRefused'
        '429':
          description: 'rate_limited: the key''s daily or per-minute window is spent. States the limit,
            the window and `resets_at`; `Retry-After` is set.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRefused'
        '500':
          description: 'Ours, not the caller''s: the key names a tier the service does not carry (tier_not_configured),
            or the deployment has no tier table (access_not_configured).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRefused'
        '503':
          description: The snapshot is not published, a retained snapshot cannot be read, or a live key
            cannot reach the access store. A no_snapshot response includes Retry-After.
          content:
            application/json:
              schema:
                oneOf:
                - oneOf:
                  - $ref: '#/components/schemas/ComparisonSnapshotUnavailable'
                  - $ref: '#/components/schemas/ComparisonRequestRefused'
                - $ref: '#/components/schemas/AccessRefused'
          headers:
            Retry-After:
              description: Seconds before retrying a no_snapshot response.
              schema:
                type: integer
                minimum: 1
  /v1/policy-check:
    post:
      operationId: policyCheck
      summary: Check the catalogue, per model and per platform, against a policy.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyCheckRequest'
            example:
              policy:
                origin:
                  permitted_countries:
                  - US
                commercial_use:
                  required: true
              limit: 3
      responses:
        '200':
          description: Verdicts, possibly including undetermined rows. `summary` counts every row; `result`
            is one page of them.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyCheckResponse'
        '400':
          description: 'Refused: a malformed body, an empty policy, or an unknown model or platform. Never
            answered as a clean pass. Or sandbox_not_available: a test_ key, which answers /v1/rank only.'
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PolicyRequestRefused'
                - $ref: '#/components/schemas/AccessRefused'
        '404': *id001
        '405':
          description: /v1/policy-check takes POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
        '413':
          description: The body is over 262144 bytes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
        '422':
          description: '`require_no_undetermined` was true and some rows are undetermined. A documented
            hard failure, never a 200 to audit.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UndeterminedPresent'
        '502':
          description: The published policy export could not be read. Retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
        '402':
          description: Payment required (MODEL-75, when X402_ENABLED). Same 402 as /v1/rank.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequired'
        '401':
          description: No key while keys are enforced (missing_api_key), or a key that is not ours (invalid_api_key).
            `error.how_to_get_a_key` says where to get one.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRefused'
        '403':
          description: 'key_revoked: a key we know and will not serve. Retrying will not help.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRefused'
        '429':
          description: 'rate_limited: the key''s daily or per-minute window is spent. States the limit,
            the window and `resets_at`; `Retry-After` is set.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRefused'
        '500':
          description: 'Ours, not the caller''s: the key names a tier the service does not carry (tier_not_configured),
            or the deployment has no tier table (access_not_configured).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRefused'
        '503':
          description: 'determinations_unavailable: entitled to the determinations by a paid-tier key,
            and the store could not be read. Never downgraded to the free answer. Or access_store_not_configured:
            a live key was presented and there is no key store to check it against.'
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/DeterminationsUnavailable'
                - $ref: '#/components/schemas/AccessRefused'
  /v1/signals:
    post:
      operationId: releaseSignalIntake
      summary: Accept an HMAC-authenticated Grok Bot release signal.
      security:
      - signalHmac: []
      x-modelspec-probe: skip
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseSignal'
      responses:
        '200':
          description: The identical signal was already pending.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalMutation'
        '202':
          description: The signal was accepted into the pending queue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalMutation'
        '400': &id004
          description: The feature is off, authentication failed, the request is invalid, or storage is
            unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalError'
        '401': *id004
        '404': *id004
        '409': *id004
        '413': *id004
        '503': *id004
        '405': &id005
          description: Wrong method for this path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
  /v1/signals/pending:
    get:
      operationId: releaseSignalsPending
      summary: List pending signals and due re-checks for repository automation.
      security:
      - signalReadKey: []
      x-modelspec-probe: skip
      responses:
        '200':
          description: Pending work, ordered deterministically.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalsPending'
        '401': *id004
        '404': *id004
        '503': *id004
        '405': *id005
  /v1/signals/ack:
    post:
      operationId: releaseSignalAcknowledge
      summary: Audit completed work and schedule or finish its re-checks.
      security:
      - signalReadKey: []
      x-modelspec-probe: skip
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignalAcknowledgement'
      responses:
        '200':
          description: The work was audited and acknowledged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalMutation'
        '400': *id004
        '401': *id004
        '404': *id004
        '503': *id004
        '405': *id005
  /v1/billing/checkout:
    post:
      operationId: billingCheckout
      summary: Create a Stripe-hosted Checkout Session for a plan or pack.
      description: 'Redirect the browser to `url`. `price_id` is required; omitted is 400 naming the valid
        ids, never a guessed purchase. A live key in `Authorization: Bearer` binds the payment to that
        key (fingerprint only, never the key): a pack ADDs credits, a plan attaches. Unknown or revoked
        key: 401, never anonymous. No key: claim mints one. BILLING_ENABLED off: 503 billing_not_enabled,
        before any call to Stripe. The flag gates this endpoint alone.


        Form variant (MODEL-105): the buy buttons on https://modelspec.dev/pricing post `application/x-www-form-urlencoded`
        with one `price_id` field. A form post is answered 303 See Other with `Location:` the Stripe Checkout
        URL, so the browser goes straight to Stripe. It is always anonymous Checkout (any Authorization
        header is ignored; claim mints a new key); buying onto an existing key is the JSON call with the
        key presented. An unknown or placeholder `price_id` is refused, never redirected, and every refusal
        is the JSON call''s own. A body that parses as JSON is the JSON call whatever its content type,
        so `curl -d ''{...}''` is unchanged.'
      x-modelspec-probe: skip
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                price_id:
                  type: string
            example:
              price_id: price_1UHRwmBPydVRHUBjqhKcx8xV
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: false
              required:
              - price_id
              properties:
                price_id:
                  type: string
            example:
              price_id: price_1UHRwmBPydVRHUBjqhKcx8xV
      responses:
        '200':
          description: Hosted Checkout URL. Open it in a browser.
          content:
            application/json:
              schema:
                type: object
                required:
                - applied_to
                - credits
                - endpoint
                - kind
                - name
                - placeholder
                - price_id
                - result
                - schema_version
                - service_commit
                - session_id
                - terms_url
                - tier
                - url
                - what_you_buy
                properties:
                  applied_to:
                    type: string
                  credits:
                    type: integer
                  endpoint:
                    type: string
                  kind:
                    type: string
                  name:
                    type: string
                  placeholder:
                    type: boolean
                  price_id:
                    type: string
                  result:
                    type: array
                    items: {}
                  schema_version:
                    type: string
                  service_commit:
                    type: string
                  session_id:
                    type: string
                  terms_url:
                    type: string
                  tier:
                    type: string
                  url:
                    type: string
                  what_you_buy:
                    type: string
        '303':
          description: 'Form post only: See Other to the Stripe-hosted Checkout page. The body is the
            200 envelope.'
          content:
            application/json:
              schema:
                type: object
                required:
                - applied_to
                - credits
                - endpoint
                - kind
                - name
                - placeholder
                - price_id
                - result
                - schema_version
                - service_commit
                - session_id
                - terms_url
                - tier
                - url
                - what_you_buy
                properties:
                  applied_to:
                    type: string
                  credits:
                    type: integer
                  endpoint:
                    type: string
                  kind:
                    type: string
                  name:
                    type: string
                  placeholder:
                    type: boolean
                  price_id:
                    type: string
                  result:
                    type: array
                    items: {}
                  schema_version:
                    type: string
                  service_commit:
                    type: string
                  session_id:
                    type: string
                  terms_url:
                    type: string
                  tier:
                    type: string
                  url:
                    type: string
                  what_you_buy:
                    type: string
          headers:
            Location:
              description: The Stripe Checkout URL (the body's `url`).
              schema:
                type: string
                format: uri
        '400':
          description: Unknown field, or price_id omitted. The 400 names the valid Price ids.
          content:
            application/json:
              schema:
                type: object
                required:
                - endpoint
                - error
                - result
                - schema_version
                - service_commit
                properties:
                  endpoint:
                    type: string
                  error:
                    type: object
                    required:
                    - code
                    - message
                    - valid_price_ids
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                      valid_price_ids:
                        type: array
                        items:
                          type: string
                  result:
                    type: array
                    items: {}
                  schema_version:
                    type: string
                  service_commit:
                    type: string
        '401':
          description: A presented API key that is unknown or revoked. Never treated as anonymous.
          content:
            application/json:
              schema:
                type: object
                required:
                - endpoint
                - error
                - result
                - schema_version
                - service_commit
                properties:
                  endpoint:
                    type: string
                  error:
                    type: object
                    required:
                    - code
                    - message
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  result:
                    type: array
                    items: {}
                  schema_version:
                    type: string
                  service_commit:
                    type: string
        '500':
          description: 'price_not_mapped: the price_id is not in the tier table, or (form post) is a placeholder.
            Refused, never redirected.'
          content:
            application/json:
              schema:
                type: object
                required:
                - endpoint
                - error
                - result
                - schema_version
                - service_commit
                properties:
                  endpoint:
                    type: string
                  error:
                    type: object
                    required:
                    - code
                    - message
                    - price_id
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                      price_id:
                        type: string
                  result:
                    type: array
                    items: {}
                  schema_version:
                    type: string
                  service_commit:
                    type: string
        '503':
          description: 'BILLING_ENABLED is off: no new purchase can start.'
          content:
            application/json:
              schema:
                type: object
                required:
                - endpoint
                - error
                - result
                - schema_version
                - service_commit
                properties:
                  endpoint:
                    type: string
                  error:
                    type: object
                    required:
                    - code
                    - message
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  result:
                    type: array
                    items: {}
                  schema_version:
                    type: string
                  service_commit:
                    type: string
        '404':
          description: No endpoint at that path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
        '405':
          description: /v1/billing/checkout takes POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
  /v1/billing/stripe-webhook:
    post:
      operationId: billingStripeWebhook
      summary: Stripe webhook. HMAC-SHA256 over t.payload; no SDK.
      x-modelspec-probe: skip
      parameters:
      - name: Stripe-Signature
        in: header
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Received. duplicate is true on a replay.
          content:
            application/json:
              schema:
                type: object
                required:
                - action
                - duplicate
                - endpoint
                - event_id
                - received
                - schema_version
                - service_commit
                - type
                properties:
                  action:
                    type: string
                  duplicate:
                    type: boolean
                  endpoint:
                    type: string
                  event_id:
                    type: string
                  received:
                    type: boolean
                  schema_version:
                    type: string
                  service_commit:
                    type: string
                  type:
                    type: string
        '400':
          description: Missing, wrong, or stale Stripe-Signature.
          content:
            application/json:
              schema:
                type: object
                required:
                - endpoint
                - error
                - result
                - schema_version
                - service_commit
                properties:
                  endpoint:
                    type: string
                  error:
                    type: object
                    required:
                    - code
                    - message
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  result:
                    type: array
                    items: {}
                  schema_version:
                    type: string
                  service_commit:
                    type: string
        '503':
          description: 'STRIPE_WEBHOOK_SECRET or the ACCESS store is not configured on this deployment.
            BILLING_ENABLED does not gate the webhook: refunds, disputes and renewals of past purchases
            apply with it off.'
          content:
            application/json:
              schema:
                type: object
                required:
                - endpoint
                - error
                - result
                - schema_version
                - service_commit
                properties:
                  endpoint:
                    type: string
                  error:
                    type: object
                    required:
                    - code
                    - message
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  result:
                    type: array
                    items: {}
                  schema_version:
                    type: string
                  service_commit:
                    type: string
        '404':
          description: No endpoint at that path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
        '405':
          description: /v1/billing/stripe-webhook takes POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
  /v1/billing/claim:
    get:
      operationId: billingClaimGet
      summary: Claim the purchase. Mints a key once if Checkout was anonymous; credits an existing key
        otherwise.
      description: 'Stripe''s success redirect. HTML variant (MODEL-105): when `Accept` prefers `text/html`
        over JSON (a browser), the same outcome, status and facts come back as a static page (no script,
        nothing loaded, CSP `default-src ''none''`) that shows the key once and says to copy it now. `Accept`
        absent, `*/*`, `application/json`, or a tie: the JSON envelope, unchanged.'
      parameters:
      - name: session_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The key, shown once (anonymous Checkout), or credits added to the bound key.
          content:
            application/json:
              schema:
                type: object
                required:
                - applied_to
                - credits
                - endpoint
                - how
                - key
                - key_id
                - kind
                - message
                - plan
                - result
                - schema_version
                - service_commit
                - shown
                - tier
                - what_you_bought
                properties:
                  applied_to:
                    type: string
                  credits:
                    type: integer
                  endpoint:
                    type: string
                  how:
                    type: string
                  key:
                    type: string
                  key_id:
                    type: string
                  kind:
                    type: string
                  message:
                    type: string
                  plan:
                    type: string
                  result:
                    type: array
                    items: {}
                  schema_version:
                    type: string
                  service_commit:
                    type: string
                  shown:
                    type: string
                  tier:
                    type: string
                  what_you_bought:
                    type: string
            text/html:
              schema:
                type: string
        '400':
          description: session_id missing.
          content:
            application/json:
              schema:
                type: object
                required:
                - endpoint
                - error
                - result
                - schema_version
                - service_commit
                properties:
                  endpoint:
                    type: string
                  error:
                    type: object
                    required:
                    - code
                    - message
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  result:
                    type: array
                    items: {}
                  schema_version:
                    type: string
                  service_commit:
                    type: string
            text/html:
              schema:
                type: string
        '409':
          description: Payment received, key not ready. Retry in a few seconds.
          content:
            application/json:
              schema:
                type: object
                required:
                - endpoint
                - error
                - result
                - schema_version
                - service_commit
                properties:
                  endpoint:
                    type: string
                  error:
                    type: object
                    required:
                    - code
                    - message
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  result:
                    type: array
                    items: {}
                  schema_version:
                    type: string
                  service_commit:
                    type: string
            text/html:
              schema:
                type: string
        '410':
          description: Already shown. Rotate if you still hold the key.
          content:
            application/json:
              schema:
                type: object
                required:
                - endpoint
                - error
                - result
                - schema_version
                - service_commit
                properties:
                  endpoint:
                    type: string
                  error:
                    type: object
                    required:
                    - code
                    - key_id
                    - message
                    - tier
                    properties:
                      code:
                        type: string
                      key_id:
                        type: string
                      message:
                        type: string
                      tier:
                        type: string
                  result:
                    type: array
                    items: {}
                  schema_version:
                    type: string
                  service_commit:
                    type: string
            text/html:
              schema:
                type: string
        '503':
          description: The ACCESS store is not bound on this deployment. BILLING_ENABLED does not gate
            this path.
          content:
            application/json:
              schema:
                type: object
                required:
                - endpoint
                - error
                - result
                - schema_version
                - service_commit
                properties:
                  endpoint:
                    type: string
                  error:
                    type: object
                    required:
                    - code
                    - message
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  result:
                    type: array
                    items: {}
                  schema_version:
                    type: string
                  service_commit:
                    type: string
            text/html:
              schema:
                type: string
        '404':
          description: No endpoint at that path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
        '405':
          description: /v1/billing/claim takes GET or POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
    post:
      operationId: billingClaimPost
      summary: Claim the purchase (session_id in the JSON body). Same as GET.
      x-modelspec-probe: skip
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                session_id:
                  type: string
              required:
              - session_id
      responses:
        '200':
          description: The key, shown once (anonymous Checkout), or credits added to the bound key.
          content:
            application/json:
              schema:
                type: object
                required:
                - applied_to
                - credits
                - endpoint
                - how
                - key
                - key_id
                - kind
                - message
                - plan
                - result
                - schema_version
                - service_commit
                - shown
                - tier
                - what_you_bought
                properties:
                  applied_to:
                    type: string
                  credits:
                    type: integer
                  endpoint:
                    type: string
                  how:
                    type: string
                  key:
                    type: string
                  key_id:
                    type: string
                  kind:
                    type: string
                  message:
                    type: string
                  plan:
                    type: string
                  result:
                    type: array
                    items: {}
                  schema_version:
                    type: string
                  service_commit:
                    type: string
                  shown:
                    type: string
                  tier:
                    type: string
                  what_you_bought:
                    type: string
        '400':
          description: session_id missing.
          content:
            application/json:
              schema:
                type: object
                required:
                - endpoint
                - error
                - result
                - schema_version
                - service_commit
                properties:
                  endpoint:
                    type: string
                  error:
                    type: object
                    required:
                    - code
                    - message
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  result:
                    type: array
                    items: {}
                  schema_version:
                    type: string
                  service_commit:
                    type: string
        '409':
          description: Payment received, key not ready. Retry in a few seconds.
          content:
            application/json:
              schema:
                type: object
                required:
                - endpoint
                - error
                - result
                - schema_version
                - service_commit
                properties:
                  endpoint:
                    type: string
                  error:
                    type: object
                    required:
                    - code
                    - message
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  result:
                    type: array
                    items: {}
                  schema_version:
                    type: string
                  service_commit:
                    type: string
        '410':
          description: Already shown.
          content:
            application/json:
              schema:
                type: object
                required:
                - endpoint
                - error
                - result
                - schema_version
                - service_commit
                properties:
                  endpoint:
                    type: string
                  error:
                    type: object
                    required:
                    - code
                    - key_id
                    - message
                    - tier
                    properties:
                      code:
                        type: string
                      key_id:
                        type: string
                      message:
                        type: string
                      tier:
                        type: string
                  result:
                    type: array
                    items: {}
                  schema_version:
                    type: string
                  service_commit:
                    type: string
        '503':
          description: The ACCESS store is not bound on this deployment. BILLING_ENABLED does not gate
            this path.
          content:
            application/json:
              schema:
                type: object
                required:
                - endpoint
                - error
                - result
                - schema_version
                - service_commit
                properties:
                  endpoint:
                    type: string
                  error:
                    type: object
                    required:
                    - code
                    - message
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  result:
                    type: array
                    items: {}
                  schema_version:
                    type: string
                  service_commit:
                    type: string
        '404':
          description: No endpoint at that path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
        '405':
          description: /v1/billing/claim takes GET or POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
  /v1/billing/rotate:
    post:
      operationId: billingRotate
      summary: Issue a new key; revoke the one presented.
      x-modelspec-probe: skip
      responses:
        '401':
          description: No current key presented.
          content:
            application/json:
              schema:
                type: object
                required:
                - endpoint
                - error
                - result
                - schema_version
                - service_commit
                properties:
                  endpoint:
                    type: string
                  error:
                    type: object
                    required:
                    - code
                    - message
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  result:
                    type: array
                    items: {}
                  schema_version:
                    type: string
                  service_commit:
                    type: string
        '503':
          description: The ACCESS store is not bound on this deployment. BILLING_ENABLED does not gate
            this path.
          content:
            application/json:
              schema:
                type: object
                required:
                - endpoint
                - error
                - result
                - schema_version
                - service_commit
                properties:
                  endpoint:
                    type: string
                  error:
                    type: object
                    required:
                    - code
                    - message
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  result:
                    type: array
                    items: {}
                  schema_version:
                    type: string
                  service_commit:
                    type: string
        '404':
          description: No endpoint at that path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
        '405':
          description: /v1/billing/rotate takes POST.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransportError'
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      description: 'Authorization: Bearer <key>. Takes precedence.'
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'X-API-Key: <key>. Never in the query string.'
    signalHmac:
      type: apiKey
      in: header
      name: X-ModelSpec-Signature
      description: sha256=<HMAC-SHA256 of the exact request bytes>.
    signalReadKey:
      type: http
      scheme: bearer
      description: Repository-only key for pending and acknowledgement automation.
  schemas:
    AccessRefused:
      type: object
      required:
      - schema_version
      - error
      - result
      properties:
        schema_version:
          type: string
        service_commit:
          type: string
        error:
          type: object
          properties:
            code:
              type: string
              enum:
              - access_not_configured
              - access_store_not_configured
              - invalid_api_key
              - key_revoked
              - missing_api_key
              - rate_limited
              - sandbox_not_available
              - tier_not_configured
            docs:
              type: string
            how_to_get_a_key:
              type: string
            limit:
              type: integer
            message:
              type: string
            remaining:
              type: integer
            resets_at:
              type: string
            retry_after_seconds:
              type: integer
            sandbox:
              type: string
            scope:
              type: string
            tier:
              type: string
            upgrade:
              type: string
            used:
              type: integer
            window:
              type: string
            window_seconds:
              type: integer
            windows:
              type: array
              items:
                type: object
                properties:
                  limit:
                    type: integer
                  remaining:
                    type: integer
                  resets_at:
                    type: string
                  retry_after_seconds:
                    type: integer
                  scope:
                    type: string
                  used:
                    type: integer
                  window:
                    type: string
                  window_seconds:
                    type: integer
                required:
                - limit
                - remaining
                - resets_at
                - retry_after_seconds
                - scope
                - used
                - window
                - window_seconds
          required:
          - code
          - message
        result:
          type: array
          items: {}
          maxItems: 0
    CreditsRefused:
      type: object
      required:
      - schema_version
      - error
      - result
      properties:
        schema_version:
          type: string
        service_commit:
          type: string
        error:
          type: object
          properties:
            code:
              type: string
              enum:
              - credits_store_not_configured
              - missing_holder
            docs:
              type: string
            how_to_get_a_key:
              type: string
            limit:
              type: integer
            message:
              type: string
            remaining:
              type: integer
            resets_at:
              type: string
            retry_after_seconds:
              type: integer
            sandbox:
              type: string
            scope:
              type: string
            tier:
              type: string
            upgrade:
              type: string
            used:
              type: integer
            window:
              type: string
            window_seconds:
              type: integer
            windows:
              type: array
              items:
                type: object
                properties:
                  limit:
                    type: integer
                  remaining:
                    type: integer
                  resets_at:
                    type: string
                  retry_after_seconds:
                    type: integer
                  scope:
                    type: string
                  used:
                    type: integer
                  window:
                    type: string
                  window_seconds:
                    type: integer
                required:
                - limit
                - remaining
                - resets_at
                - retry_after_seconds
                - scope
                - used
                - window
                - window_seconds
          required:
          - code
          - message
        result:
          type: array
          items: {}
          maxItems: 0
    RankRequest:
      type: object
      additionalProperties: false
      required:
      - use_case
      properties:
        use_case:
          description: Which profile scores the candidates. Required.
          type: string
          enum:
          - accounting
          - agentic
          - biotech
          - chat
          - code_review
          - coding
          - coding_cpp
          - coding_go
          - coding_java
          - coding_javascript
          - coding_python
          - coding_rust
          - coding_typescript
          - content_moderation
          - customer_support
          - cybersecurity
          - data_science
          - devops
          - education
          - education_humanities
          - education_stem
          - embedding
          - financial
          - financial_analysis
          - financial_compliance
          - general
          - image_generation
          - legal
          - legal_contract_review
          - math_competition
          - medical
          - medical_clinical
          - medical_radiology
          - multilingual
          - rag
          - reasoning
          - research_assistant
          - roleplay
          - safety
          - science
          - science_astronomy
          - science_biology
          - science_chemistry
          - science_physics
          - speech_to_text
          - summarization
          - text_to_speech
          - translation
          - vision
          - writing_creative
          - writing_technical
        environment:
          type: object
          additionalProperties: false
          properties:
            hardware:
              description: A device id from https://modelspec.dev/api/rank/hardware.json. Keeps only models
                whose weights fit that device. An id not in that file is a 400, never 'nothing fits'.
              type: string
              nullable: true
            hosting:
              description: Where the model runs.
              type: string
              nullable: true
              enum:
              - local
              - managed_api
              - self_hosted
              - null
              x-meaning:
                local: on the caller's own machine; requires downloadable weights
                managed_api: a provider or gateway API; no weights requirement
                self_hosted: on infrastructure the caller runs; requires downloadable weights
            runtime:
              description: The serving stack. A local runtime implies downloadable weights; every other
                value is recorded and reported in applied.unbound, because the export carries no runtime-level
                evidence to filter on.
              type: string
              nullable: true
              enum:
              - ai21_labs
              - anthropic
              - aws_bedrock
              - azure_ai_foundry
              - cerebras
              - chatgpt
              - claude_ai
              - cohere
              - deepinfra
              - deepseek
              - fireworks_ai
              - gemini_app
              - google
              - google_vertex_ai
              - gpt4all
              - grok_xai
              - groq
              - ibm_watsonx
              - jan_ai
              - lm_studio
              - meta_ai
              - mistral
              - mistral_plateforme
              - mlx_community
              - nvidia_nim
              - ollama
              - open_webui
              - openai
              - openrouter
              - replicate
              - sambanova
              - snowflake_cortex
              - together_ai
              - xai
              - null
              x-implies-open-weights:
              - gpt4all
              - jan_ai
              - lm_studio
              - mlx_community
              - ollama
              - open_webui
        constraints:
          type: object
          additionalProperties: false
          properties:
            open_weights:
              description: Keep only models whose weights can be downloaded.
              type: boolean
              nullable: true
            max_cost_per_million_input_tokens:
              description: USD ceiling on input cost. Applied before scoring. A model with no published
                price is dropped by this filter rather than assumed cheap.
              type: number
              minimum: 0
              nullable: true
            price_sensitivity:
              description: 0–1. How much cost weighs against quality. Every shipped profile weights cost
                at 0, so this is the only way to make price matter.
              type: number
              minimum: 0
              maximum: 1
              default: 0.0
            include_rehosts:
              description: Include models that are rehosts of another provider's weights.
              type: boolean
              default: false
        limit:
          description: Caps the ranked shortlist only, not the pool.
          type: integer
          minimum: 0
          maximum: 100
          default: 10
    RankResponse:
      type: object
      properties:
        applied:
          description: What actually bound. Read applied.unbound before trusting a filter.
          type: object
          properties:
            cost_weight:
              type: number
              nullable: true
            hardware_id:
              type: string
              nullable: true
            include_rehosts:
              type: boolean
            max_cost_per_million_input_tokens:
              type: number
              nullable: true
            open_weights_only:
              type: boolean
            open_weights_required_by:
              type: string
              nullable: true
            unbound:
              description: Fields that were accepted, recorded, and filtered nothing, each with the reason.
                An empty list means every field you sent bound.
              type: array
              items:
                type: object
                required:
                - field
                - value
                - why
                properties:
                  field:
                    type: string
                  value:
                    type: string
                  why:
                    type: string
          required:
          - cost_weight
          - hardware_id
          - include_rehosts
          - max_cost_per_million_input_tokens
          - open_weights_only
          - open_weights_required_by
          - unbound
        authoring_guide:
          description: 'The recommended model''s authoring guide, copied from the public card. Always
            present. Free: it is public catalogue data, not a paid enrichment.'
          type: object
          properties:
            guide:
              description: The card's guide, including source URL and accessed date on every claim. Null
                when absent. Never generated at request time.
              type: object
              nullable: true
              properties:
                applies_to:
                  type: object
                  properties:
                    model_id:
                      type: string
                    version:
                      type: string
                  required:
                  - model_id
                  - version
                as_of:
                  type: string
                sections:
                  type: object
                  properties:
                    failure_modes:
                      type: array
                      items: {}
                    formatting:
                      type: array
                      items: {}
                    prompt_shape:
                      type: array
                      items:
                        type: object
                        properties:
                          sources:
                            type: array
                            items:
                              type: object
                              properties:
                                accessed:
                                  type: string
                                kind:
                                  type: string
                                title:
                                  type: string
                                url:
                                  type: string
                              required:
                              - accessed
                              - kind
                              - title
                              - url
                          text:
                            type: string
                        required:
                        - sources
                        - text
                    reasoning_and_tools:
                      type: array
                      items: {}
                    retry_advice:
                      type: array
                      items: {}
                    system_message:
                      type: array
                      items: {}
                  required:
                  - failure_modes
                  - formatting
                  - prompt_shape
                  - reasoning_and_tools
                  - retry_advice
                  - system_message
                status:
                  type: string
            model_id:
              description: The recommended model this block is about. Null when the shortlist is empty.
              type: string
              nullable: true
            state:
              description: current, stale, or absent. A stale guide is served as stale, never rewritten
                to current. Absent is a state, not an empty string.
              type: string
              enum:
              - absent
              - current
              - stale
            why:
              description: 'Why the guide is absent: no_guide (the card has none) or no_recommendation
                (nothing was ranked). Null when a guide is served.'
              type: string
              nullable: true
          required:
          - guide
          - model_id
          - state
          - why
        build:
          description: The published export this answer was computed from.
          type: object
          properties:
            built_at:
              type: string
            commit:
              type: string
            eligibility_as_of:
              type: string
            export_schema_version:
              type: string
          required:
          - built_at
          - commit
          - eligibility_as_of
          - export_schema_version
        candidates_considered:
          type: integer
        endpoint:
          type: string
        export_origin:
          type: string
        policy:
          description: The evidence floors this answer was ordered under.
          type: object
          properties:
            cli_min_benchmark_coverage:
              type: number
            limit_applies_to:
              type: string
            min_benchmark_count:
              type: integer
            min_benchmark_coverage:
              type: number
            neutrality:
              description: 'The honest-broker commitment, as data: what ModelSpec takes no money for.
                The same object as https://modelspec.dev/api/rank/profiles.json .ranking_policy.neutrality.
                The terms, privacy statement and neutrality commitment it links are adopted and in force
                (https://modelspec.dev/legal/).'
              type: object
              properties:
                assertions:
                  type: object
                  properties:
                    accepts_paid_placement:
                      type: boolean
                    accepts_provider_paid_visibility:
                      type: boolean
                    accepts_referral_fees:
                      type: boolean
                    conceals_purchases_from_catalogued_vendors:
                      type: boolean
                    lets_supplier_models_write_supplier_cards:
                      type: boolean
                    proxies_inference_tokens:
                      type: boolean
                    stores_customer_prompts:
                      type: boolean
                  required:
                  - accepts_paid_placement
                  - accepts_provider_paid_visibility
                  - accepts_referral_fees
                  - conceals_purchases_from_catalogued_vendors
                  - lets_supplier_models_write_supplier_cards
                  - proxies_inference_tokens
                  - stores_customer_prompts
                charges:
                  type: string
                method_source:
                  type: string
                neutrality_url:
                  type: string
                operator:
                  type: string
                permanent:
                  type: boolean
                pledge:
                  type: string
                privacy_url:
                  type: string
                rule:
                  type: string
                source_neutral_at:
                  type: array
                  items:
                    type: string
                terms_url:
                  type: string
                vendor_purchases:
                  type: string
                version:
                  type: string
              required:
              - assertions
              - charges
              - method_source
              - neutrality_url
              - operator
              - permanent
              - pledge
              - privacy_url
              - rule
              - source_neutral_at
              - terms_url
              - vendor_purchases
              - version
            ordering:
              type: string
            uncertainty:
              type: string
            version:
              type: string
            wizard_min_benchmark_coverage:
              type: number
          required:
          - cli_min_benchmark_coverage
          - limit_applies_to
          - min_benchmark_count
          - min_benchmark_coverage
          - neutrality
          - ordering
          - uncertainty
          - version
          - wizard_min_benchmark_coverage
        profile:
          type: string
        ranked_count:
          type: integer
        ranking_status:
          description: Whether every candidate could be ordered. `partial` is the normal state of the
            catalogue, not a degraded answer.
          type: string
          enum:
          - complete
          - empty
          - partial
          - unavailable
        request:
          description: The request as received and normalised.
          type: object
          properties:
            constraints:
              type: object
              properties:
                include_rehosts:
                  type: boolean
                max_cost_per_million_input_tokens:
                  type: number
                  nullable: true
                open_weights:
                  type: boolean
                price_sensitivity:
                  type: number
              required:
              - include_rehosts
              - max_cost_per_million_input_tokens
              - open_weights
              - price_sensitivity
            environment:
              type: object
              properties:
                hardware:
                  type: string
                  nullable: true
                hosting:
                  type: string
                  nullable: true
                runtime:
                  type: string
                  nullable: true
              required:
              - hardware
              - hosting
              - runtime
            limit:
              type: integer
            use_case:
              type: string
          required:
          - constraints
          - environment
          - limit
          - use_case
        result:
          description: The shortlist, best first. Never empty on a 200.
          type: array
          items:
            type: object
            properties:
              benchmark_contributions:
                type: object
                properties:
                  aider_polyglot:
                    type: number
                  arena_elo_coding:
                    type: number
                  arena_elo_overall:
                    type: number
                  humaneval:
                    type: number
                  live_code_bench:
                    type: number
                  scicode:
                    type: number
                  swe_bench_verified:
                    type: number
                  terminal_bench:
                    type: number
                required:
                - aider_polyglot
                - arena_elo_coding
                - arena_elo_overall
                - humaneval
                - live_code_bench
                - swe_bench_verified
              benchmark_count:
                type: integer
              benchmark_coverage:
                description: Share of the profile's weighted benchmarks this model has a score for.
                type: number
              benchmark_estimate:
                type: number
              benchmark_lower_bound:
                type: number
              benchmark_score:
                type: number
              benchmark_upper_bound:
                type: number
              capability_score:
                type: number
              context_score:
                type: number
              context_window:
                type: integer
              cost_input:
                description: USD per million input tokens, or null when unpublished.
                type: number
              cost_score:
                type: number
              display_name:
                type: string
              evidence_basis:
                description: Provenance of the benchmark inputs — none, unverified-legacy, mixed, partial-verified
                  or verified. Not a quality verdict, and 'verified' is not a certificate.
                type: string
                enum:
                - mixed
                - none
                - partial-verified
                - unverified-legacy
                - verified
              missing_benchmarks:
                description: Benchmarks the profile weighs that this model lacks.
                type: array
                items:
                  type: string
              model_id:
                type: string
              open_weights:
                type: boolean
              provider:
                type: string
              rank:
                type: integer
              rank_status:
                type: string
                enum:
                - ranked
                - unranked
              required_benchmark_count:
                type: integer
              score:
                description: Composite, 0–100, on the conservative lower bound.
                type: number
              score_kind:
                type: string
              score_lower_bound:
                type: number
              score_upper_bound:
                type: number
              scores_as_of:
                type: string
              type_bonus:
                type: number
              unranked_reason:
                nullable: true
              verified_benchmark_coverage:
                type: number
              verified_contributions:
                type: integer
            required:
            - benchmark_contributions
            - benchmark_count
            - benchmark_coverage
            - benchmark_estimate
            - benchmark_lower_bound
            - benchmark_score
            - benchmark_upper_bound
            - capability_score
            - context_score
            - context_window
            - cost_input
            - cost_score
            - display_name
            - evidence_basis
            - missing_benchmarks
            - model_id
            - open_weights
            - provider
            - rank
            - rank_status
            - required_benchmark_count
            - score
            - score_kind
            - score_lower_bound
            - score_upper_bound
            - scores_as_of
            - type_bonus
            - unranked_reason
            - verified_benchmark_coverage
            - verified_contributions
        schema_version:
          type: string
        service_commit:
          description: The sha of the deployed Worker. Fixed per deployment.
          type: string
        unranked_candidates:
          description: 'The models this answer could not rank, named: they passed every filter, match
            the use case''s model types, and lack the benchmark evidence to be ordered. Always present.
            Disclosure only; nothing in result depends on it.'
          type: object
          properties:
            cap:
              description: How many are named in models, at most.
              type: integer
            count:
              description: How many such models there are. Never capped; at most unranked_count.
              type: integer
            models:
              description: Newest release_date first; undated last; then by model_id.
              type: array
              items:
                type: object
                properties:
                  display_name:
                    type: string
                  missing_benchmarks:
                    description: The use case's weighted benchmarks this model has no score for.
                    type: array
                    items:
                      type: string
                  model_id:
                    type: string
                  reason:
                    description: no_scores (no score on any benchmark this use case weighs), below_count_floor
                      (fewer than policy.min_benchmark_count), or below_coverage_floor (under policy.min_benchmark_coverage).
                      A model failing both floors is below_count_floor.
                    type: string
                    enum:
                    - below_count_floor
                    - below_coverage_floor
                    - no_scores
                  release_date:
                    description: The card's release date, or null when the card has none.
                    type: string
                    nullable: true
                required:
                - display_name
                - missing_benchmarks
                - model_id
                - reason
                - release_date
          required:
          - cap
          - count
          - models
        unranked_count:
          type: integer
      required:
      - applied
      - authoring_guide
      - build
      - candidates_considered
      - endpoint
      - export_origin
      - policy
      - profile
      - ranked_count
      - ranking_status
      - request
      - result
      - schema_version
      - service_commit
      - unranked_candidates
      - unranked_count
    Health:
      type: object
      properties:
        build:
          type: object
          properties:
            built_at:
              type: string
            commit:
              type: string
            export_schema_version:
              type: string
          required:
          - built_at
          - commit
          - export_schema_version
        determinations:
          type: object
          properties:
            bound:
              type: boolean
            bundle_version:
              type: string
              nullable: true
            generated_on:
              type: string
              nullable: true
            last_error:
              type: string
              nullable: true
            loaded:
              type: boolean
            message:
              type: string
              nullable: true
            state:
              type: string
          required:
          - bound
          - bundle_version
          - generated_on
          - last_error
          - loaded
          - message
          - state
        endpoint:
          type: string
        export_loaded:
          type: boolean
        export_origin:
          type: string
        last_error:
          type: string
          nullable: true
        model_count:
          type: integer
        policy_export_loaded:
          type: boolean
        policy_model_count:
          type: integer
        schema_version:
          type: string
        service_commit:
          type: string
      required:
      - build
      - determinations
      - endpoint
      - export_loaded
      - export_origin
      - last_error
      - model_count
      - policy_export_loaded
      - policy_model_count
      - schema_version
      - service_commit
    NoMatch:
      type: object
      required:
      - schema_version
      - error
      - result
      properties:
        schema_version:
          type: string
        service_commit:
          type: string
        error:
          type: object
          properties:
            candidates_considered:
              type: integer
            code:
              type: string
              enum:
              - insufficient_evidence
              - no_match
            eliminated_by:
              description: The first filter whose survivor count reached zero.
              type: object
              properties:
                constraint:
                  type: string
                survivors_after:
                  type: integer
                survivors_before:
                  type: integer
                value:
                  type: number
              required:
              - constraint
              - survivors_after
              - survivors_before
              - value
            elimination_trace:
              description: Every filter, in the order the scorer applies them.
              type: array
              items:
                type: object
                properties:
                  constraint:
                    type: string
                  survivors_after:
                    type: integer
                  survivors_before:
                    type: integer
                  value:
                    type: string
                required:
                - constraint
                - survivors_after
                - survivors_before
                - value
            message:
              type: string
            ranking_status:
              type: string
              enum:
              - complete
              - empty
              - partial
              - unavailable
            relax:
              description: The field to change. Acting on this is the whole point of the 422.
              type: string
          required:
          - candidates_considered
          - code
          - eliminated_by
          - elimination_trace
          - message
          - ranking_status
          - relax
        result:
          type: array
          items: {}
          maxItems: 0
    RequestRefused:
      type: object
      required:
      - schema_version
      - error
      - result
      properties:
        schema_version:
          type: string
        service_commit:
          type: string
        error:
          type: object
          properties:
            accepted:
              description: The values this field does accept.
              type: array
              items:
                type: string
            code:
              type: string
              enum:
              - invalid_request
              - unknown_hardware
              - unknown_hosting
              - unknown_runtime
              - unknown_use_case
            fields:
              type: array
              items:
                type: string
            message:
              type: string
          required:
          - accepted
          - code
          - message
        result:
          type: array
          items: {}
          maxItems: 0
    DecisionAccess:
      additionalProperties: false
      description: 'How the caller will use the model. Added in 2.6.


        ``chat_app``: a provider''s chat app, through a subscription plan.

        ``coding_tool``: a coding harness, through a plan or pay-per-use;

        ``harness`` names one from ``registry/harnesses.yaml`` (any when absent).

        ``own_software``: the caller''s own software, pay-per-use (or a plan whose

        surfaces include ``api``). ``own_hardware``: self-hosted on the caller''s

        devices. A spec may give the bare kind as a string.'
      properties:
        kind:
          enum:
          - chat_app
          - coding_tool
          - own_software
          - own_hardware
          title: Kind
          type: string
        harness:
          anyOf:
          - pattern: ^[a-z0-9][a-z0-9-]*$
            type: string
          - type: 'null'
          default: null
          title: Harness
      required:
      - kind
      title: Access
      type: object
    DecisionAllOf:
      additionalProperties: false
      properties:
        all:
          items:
            anyOf:
            - type: string
            - $ref: '#/components/schemas/DecisionCompare'
            - $ref: '#/components/schemas/DecisionWindow'
            - $ref: '#/components/schemas/DecisionInSet'
            - $ref: '#/components/schemas/DecisionKnown'
            - $ref: '#/components/schemas/DecisionAnyOf'
            - $ref: '#/components/schemas/DecisionAllOf'
            - $ref: '#/components/schemas/DecisionNotOf'
          title: All
          type: array
        soft:
          anyOf:
          - $ref: '#/components/schemas/DecisionSoft'
          - type: 'null'
          default: null
        unknown:
          anyOf:
          - enum:
            - list
            - fail
            - pass
            type: string
          - type: 'null'
          default: null
          title: Unknown
      required:
      - all
      title: AllOf
      type: object
    DecisionAnyOf:
      additionalProperties: false
      properties:
        any:
          items:
            anyOf:
            - type: string
            - $ref: '#/components/schemas/DecisionCompare'
            - $ref: '#/components/schemas/DecisionWindow'
            - $ref: '#/components/schemas/DecisionInSet'
            - $ref: '#/components/schemas/DecisionKnown'
            - $ref: '#/components/schemas/DecisionAnyOf'
            - $ref: '#/components/schemas/DecisionAllOf'
            - $ref: '#/components/schemas/DecisionNotOf'
          title: Any
          type: array
        soft:
          anyOf:
          - $ref: '#/components/schemas/DecisionSoft'
          - type: 'null'
          default: null
        unknown:
          anyOf:
          - enum:
            - list
            - fail
            - pass
            type: string
          - type: 'null'
          default: null
          title: Unknown
      required:
      - any
      title: AnyOf
      type: object
    DecisionBandEntry:
      additionalProperties: false
      description: One model in a band, through its best offering. Added in 2.7 (MODEL-206).
      properties:
        model:
          pattern: ^[a-z0-9][a-z0-9._-]*/[a-z0-9][a-z0-9._-]*$
          title: Model
          type: string
        offering:
          $ref: '#/components/schemas/DecisionOfferingRef'
        score:
          title: Score
          type: number
        score_interval:
          maxItems: 2
          minItems: 2
          prefixItems:
          - type: number
          - type: number
          title: Score Interval
          type: array
        p_best:
          anyOf:
          - maximum: 1
            minimum: 0
            type: number
          - type: 'null'
          default: null
          title: P Best
        p_beats_leader:
          anyOf:
          - maximum: 1
            minimum: 0
            type: number
          - type: 'null'
          default: null
          title: P Beats Leader
        cost_per_task:
          anyOf:
          - type: number
          - type: 'null'
          default: null
          title: Cost Per Task
        estimates:
          items:
            $ref: '#/components/schemas/DecisionDimensionEstimate'
          title: Estimates
          type: array
      required:
      - model
      - offering
      - score
      - score_interval
      title: BandEntry
      type: object
    DecisionBands:
      additionalProperties: false
      description: 'The ranked models in three bands (MODEL-206). Added in 2.7.


        ``best`` is the leader and every model with enough evidence whose score is

        at least the leader''s with probability ``band_probability`` or more,

        ordered by ``p_best``. ``rest`` holds the other models with enough

        evidence and ``thin`` the models with a weighted capability interval wider

        than ``thin_interval_width``, both in score order. Every ranked model is in

        exactly one band.'
      properties:
        basis:
          title: Basis
          type: string
        band_probability:
          exclusiveMaximum: 1
          exclusiveMinimum: 0
          title: Band Probability
          type: number
        thin_interval_width:
          exclusiveMinimum: 0
          title: Thin Interval Width
          type: number
        leader:
          anyOf:
          - pattern: ^[a-z0-9][a-z0-9._-]*/[a-z0-9][a-z0-9._-]*$
            type: string
          - type: 'null'
          default: null
          title: Leader
        best:
          items:
            $ref: '#/components/schemas/DecisionBandEntry'
          title: Best
          type: array
        rest:
          items:
            $ref: '#/components/schemas/DecisionBandEntry'
          title: Rest
          type: array
        thin:
          items:
            $ref: '#/components/schemas/DecisionBandEntry'
          title: Thin
          type: array
      required:
      - basis
      - band_probability
      - thin_interval_width
      title: Bands
      type: object
    DecisionBenchmarkEstimateChange:
      additionalProperties: false
      description: How one model's domain estimate changed after removing evidence. Added in 1.12.
      properties:
        model:
          pattern: ^[a-z0-9][a-z0-9._-]*/[a-z0-9][a-z0-9._-]*$
          title: Model
          type: string
        domain:
          pattern: ^[a-z][a-z0-9_-]*(\.[a-z0-9_-]+)*$
          title: Domain
          type: string
        before:
          anyOf:
          - $ref: '#/components/schemas/DecisionEstimate'
          - type: 'null'
          default: null
        after:
          anyOf:
          - $ref: '#/components/schemas/DecisionEstimate'
          - type: 'null'
          default: null
        removed_drivers:
          items:
            $ref: '#/components/schemas/DecisionEvidenceItem'
          title: Removed Drivers
          type: array
      required:
      - model
      - domain
      title: BenchmarkEstimateChange
      type: object
    DecisionBenchmarkExclusions:
      additionalProperties: false
[...]
